{% extends "base.html" %}



{% block title %}
<title>About</title>
{% endblock title %}

{% block navbar %}
<li class="active"><a href="#">About<span class="sr-only">(current)</span></a></li>

<li><a href="{% url 'agencyProject.views.home' %}">Home</a></li>
<li><a href="{% url 'agencyProject.views.campaigns' %}">Campaigns</a></li>
<li><a href="{% url 'agencyProject.views.campaigns_pages' %}">Campaigns Pages</a></li>
<li><a href="{% url 'agencyProject.views.splash' %}">Splash</a></li>
{% endblock %}

{% block content %}


About Page

{% load bootstrap3 %}

<form action="/" method="post">
    {% csrf_token %}
	{% bootstrap_form form  %}
    <input type="submit" value="Submit" />
</form>

{% endblock %}