{% extends "base.html" %}
{% block title %}
<title>About</title>
{% endblock title %}

{% block content %}
{% load bootstrap3 %}
<div class="row">
    <div class="span8">
        <p>
            Hello World Advertising started as a small advertising agency in the town of Flagstaff Arizona.
           Since its inception, Hello World has been driving up sales revenue for businesses all around Northern Arizona.
            Hello World has since grown to encompass companies all across the globe with wild success.
        </p>
        <p>
            We specialize in web advertising primarily, but we do design work for all sorts of physical advertising mediums
            such as posters and banners, as well as business cards! Fill out the form to the right to connect with one of
            our agents and get 200 free business cards for your business or personal portfolio!
        </p>
        <!-- http://www.smashingmagazine.com/2010/08/09/business-card-design-starter-kit-showcase-tutorials-templates/ -->
	 
    <img src="/static/images/business-cards.jpg" alt="businesscards" height="500" width="500">
        
    </div>
    <div class="span4">
        <form action="/about/" method="post">
            {% csrf_token %}
            {% bootstrap_form form  %}
            <input type="submit" value="Submit" />
        </form>
    </div>
</div>
{% endblock %}