{% extends "base.html" %}

{% block title %}
<title>Campaigns</title>
{% endblock title %}

{% block navbar %}
<li class="active"><a href="#">Campaigns<span class="sr-only">(current)</span></a></li>

<li><a href="{% url 'agencyProject.views.home' %}">Home</a></li>
<li><a href="{% url 'agencyProject.views.about' %}">About</a></li>
<li><a href="{% url 'agencyProject.views.splash' %}">Splash</a></li>
{% endblock %}

   
{% block content %}
<!-- Campaigns -->
<h3>Campaigns</h3>
<div class="container">
  <div class="row">
    <!-- campaign1 -->
    <div class="col-md-2">
      <a  href="/static/images/brewery.png" class="thumbnail">
        <img src="/static/images/brewery.png" height="600" width="600">
      </a>          
      <img src="/static/images/brewerylogo.png" height="75" width="300">
      <p>After our advertising campaign HelloWorld brewery became a Flagstaff hotspot for beer lovers.</p>
    </div>
    <br>
    <!-- campaign2 -->
    <div class="col-md-2">
      <a href="/static/images/legendary.jpg" class="thumbnail">
        <img src="/static/images/legendary.jpg" height="600" width="700">
      </a>
      <img src="/static/images/legendarylogo.png" height="75" width="300">
      <p>After hiring us Legendary Theatre has become the premiere comedy club in Flagstaff!</p>
    </div>
    <br>
    <!-- campaign3 -->
    <div class="col-md-2">
      <a href="/static/images/cards.jpg" class="thumbnail">
        <img src="/static/images/cards.jpg" height="600" width="600">
      </a>
      <strong>Business Cards</strong>
      <p>We have hundreds of styles to create the perfect business card that fits you just right</p>
      </div>
      <br>
    <!-- campaign4 -->
    <div class="col-md-2">
      <a href="/static/images/seo.jpg" class="thumbnail">
        <img src="/static/images/seo.jpg" height="500" width="500">
      </a>
      <strong>Search Engine Optimization</strong>
      <p>We are partnered with SEO and Google Adwords firms to ensure your business gets the attention it deserves!</p>
    </div>
  </div>
</div>    
{% endblock %}