{% extends "base.html" %}

{% block title %}
<title>Campaigns</title>
{% endblock title %}

{% block navbar %}
<li class="active"><a href="#">Campaigns<span class="sr-only">(current)</span></a></li>

<li><a href="{% url 'agencyProject.views.home' %}">Home</a></li>
<li><a href="{% url 'agencyProject.views.about' %}">About</a></li>
<li><a href="{% url 'agencyProject.views.splash' %}">Splash</a></li>
{% endblock %}

{% block content %}

List of Campaigns

<img src="/static/images/cards.jpg">
<p>
<img src="/static/images/brewery.png">
<p>
<img src="/static/images/legendary.jpg">
<p>
<img src="/static/images/seo.jpg">
<p>

{% endblock %}