{% extends "base.html" %}

{% block title %}
<title>Campaigns</title>
{% endblock title %}

{% block navbar %}
<li class="active"><a href="#">Campaigns<span class="sr-only">(current)</span></a></li>

<li><a href="{% url 'agencyProject.views.home' %}">Home</a></li>
<li><a href="{% url 'agencyProject.views.about' %}">About</a></li>
<li><a href="{% url 'agencyProject.views.splash' %}">Splash</a></li>
{% endblock %}

{% block content %}

<br>
	<h4>Check out our advertisements that helped two local Flagstaff businesses become the new cool places to go!</h4>
</p>
<br>
<h5>HelloWorld Brewery:</h5>
<img src="/static/images/brewerylogo.png">
<br>
<img src="/static/images/brewery.png">
<br><br><br>
<h5>and Legendary Theatre:</h5>
<img src="/static/images/legendarylogo.png">
<br>
<img src="/static/images/legendary.jpg">
<br><br>
<p>
	<h4>We have hundreds of styles to create the perfect business card that fits you just right</h4>
</p>
<br>
<img src="/static/images/cards.jpg">
<br><br>
<p>
	<h4>We are also partnered with SEO firms ensure your business gets the customers it deservers</h4>
</p>
<br>
<img src="/static/images/seo.jpg">
<br>

{% endblock %}