{% extends "base.html" %}

{% block title %}
<title>Advertising Project</title>
{% endblock title %}

{% block navbar %}
<li class="active"><a href="#">Home<span class="sr-only">(current)</span></a></li>

<li><a href="{% url 'agencyProject.views.home' %}">Home</a></li>
<li><a href="{% url 'agencyProject.views.about' %}">About</a></li>
<li><a href="{% url 'agencyProject.views.campaigns' %}">Campaigns</a></li>
<li><a href="{% url 'agencyProject.views.splash' %}">Splash</a></li>
{% endblock %}
{% block heading %}
<!--Removes the heading from the index page-->
{% endblock %}

{% block content %}
  <html>
  
      <style>
      img {
          float: right;
         
      }
      </style>

      <body>

      <!-- Main hero unit for a primary marketing message or call to action -->
      <!-- http://www.psdgraphics.com/backgrounds/world-globe-background/ -->

      <div class="hero-unit">
        <img src="/static/images/world.jpg" alt="World" height="300" width="300">
        <h1>Hello, world!</h1>
        <p>Welcome to Hello World Advertising! We can help your brand reach an audience far wider than you ever expected.
        Click below to learn more about how we can help you grow your business and your brand across the globe.</p>
        <p><a href="{% url 'agencyProject.views.about' %}" class="btn btn-primary btn-large">Learn more &raquo;</a></p>
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span4">
          <h2>Learn More</h2>
          <p>Want to learn more about Hello World Advertising? Maybe you're totally stoked for us to advertise for your company and want to get in contact with us. Either way, click the button below to get more information.</p>
          <p><a class="btn" href="/about/">Learn More &raquo;</a></p>
        </div>
      <div class="span4">
          <h2>Success Stories</h2>
          <p>Discover people who have build successful businesses using our advertising company. Do not hesitate to get in contact with them and ask questions. You have nothing to lose and a lot to gain.   </p>
          <p><a class="btn" href="https://www.linkedin.com/">View Stories &raquo;</a></p>
       </div>
        <div class="span4">
          <h2>Talk About Us!</h2>
          <p>Think we're awesome? Tell someone about it! We have a super easy way to send a professional email so you can tell your friends, family and co-workers about us. We even spell-checked our emails, so you don't have to worry about making any mistakes!</p>
          <p><a class="btn" href="/share/">Share Hello World &raquo;</a></p>
        </div>
      </div>
       
      </body>
      
</html>

{% endblock %}

