{% extends "base.html" %}
{% block title %}
<title>Customer Reviews</title>
{% endblock title %}

{% block content %}
{% load bootstrap3 %}
<div class="container">
			<div style="text-align: left">
				<h3>Testimonials</h3>
				<p>We love our clients, and our clients love us!</p>
				<p>Please share your experience doing business Hello World Advertising.</p>
			</div>
<br>
			<form action="/reviews/" method="post">
				{% csrf_token %}
				{% bootstrap_form form  %}
				<input type="submit" class="btn btn-info" value="Submit" />
			</form>
</div>

{% endblock %}