{% extends "base.html" %}



{% block title %}
<title>Advertising Project</title>
{% endblock title %}

{% block navbar %}
<li class="active"><a href="#">Splash<span class="sr-only">(current)</span></a></li>

<li><a href="{% url 'agencyProject.views.home' %}">Home</a></li>
<li><a href="{% url 'agencyProject.views.about' %}">About</a></li>
<li><a href="{% url 'agencyProject.views.campaigns' %}">Campaigns</a></li>
<li><a href="{% url 'agencyProject.views.campaigns_pages' %}">Campaigns Pages</a></li>
{% endblock %}

{% block content %}


<!DOCTYPE html>
<html lang="en">
  <head>
   
    <title>Ad Agency</title>

  </head>
  
  <style>
	
	h4 {
	color: black;
	text-align: center;
	}
	
	h1 {
	color: black;
	text-align: center;
	}
	body {
	height: 100%;
	background-color: #333;
	background-image: url("/static/images/background.gif");
	background-size: 1400px 800px;
	/*image from http://frontierstrategygroup.com/?attachment_id=4603*/
}
  </style>
  
  
  <body>
          <div class="inner cover">
              {% block heading %}{% endblock %} <!--Fixes the heading showing up twice-->
            <img src="/static/images/helloworldlogo.png">
	       
		<br/>
		<br/>
	    
	    <h4>Welcome to Hello World Advertising! We can help your brand reach an audience far wider than you ever expected.</h4>
	    
		<br/>
		<br/>
		
	    <h4>Signup now to recieve your FREE Business Cards</h4>
         
	    <p><center><a href="{% url 'agencyProject.views.about' %}" class="btn btn-primary btn-large">Signup &raquo;</a>
		<a href="{% url 'agencyProject.views.index' %}" class="btn btn-primary btn-large">Visit Home &raquo;</a></center></p>


            </p>
          </div>

        </div>

      </div>

    </div>

  </body>

</html>

{% endblock %}

